In [ ]:
age = 45

In [ ]:
age = (5-1)

In [10]:
print (age-1)

249

In [11]:
(age) == (age-1)

False

In [22]:
x = ('_________')
y = "Welcome"
z = ('_________')

In [23]:
print (x)
print (y)
print (z)

_________
Welcome
_________

In [24]:
print ('*    *    *    *    ___________')
print ('*    *    *    *    ___________')
print ('*    *    *    *    ___________')
print ('_______________________________')
print ('_______________________________')
print ('_______________________________')

*    *    *    *    ___________
*    *    *    *    ___________
*    *    *    *    ___________
_______________________________
_______________________________
_______________________________

# BASIC OPERATIONS LESSON 2

In [4]:
# 5+5
print (5 + 5)

10

In [5]:
# 5-5
print (5 - 5)

0

In [6]:
# 5*5
print (5 * 5)

25

In [7]:
# 5/5
print (5 / 5)

1.0

In [8]:
# (5+5)
print (5 + 5 +(5 + 5))

20

In [9]:
# 13%5 (basically * but no decimal)
print (13 % 5)

3

In [10]:
# 5 ** 5 (power)
print (5 ** 5)

3125

# DATATYPES LESSON 3

In [1]:
# example of a string
x = '3'
# example of a interger
z = 3
# example of a float
y = 3.0
# example of type (tells you what type it is,eg. string,interger)
print(type(x))

<class 'str'>

In [3]:
# convert something to float
z = 3
z = float(z)
print(type(z))

<class 'float'>

cannot float a word

In [9]:
x = 1.57
print(int(x))
print(round(x))

1
2

In [ ]:
x = 1.57

print('hey'*3)

# DATATYPES 2 - LESSON 4

In [1]:
#lists           0     1      2
my_notlist = ['bruh','nice','Jay']
print(my_notlist[2])

Jay

In [2]:
#tuples (just lists but can't change like create sub-list)eg. hp,armour,etc.
my_nottuple = ('bruh','nice','Jay')
print(my_nottuple[2])

Jay

In [11]:
#sub-list(cannot create from tuple)
my_secondlist = ['bruh','nice','Jay']
VIP_namelist = my_secondlist[2:3]
print(VIP_namelist)

['Jay']

In [17]:
#how to count elements in lists,tuples
things = [7,7,7,7,7,7,7,7,7]
print(things.count(7))
things2 = (1,2,1,2,1,2)
print(things2.count(1))
print(len(things))

9
3
9

In [19]:
#change list to tuple,tuple to list because reasons
numbers = [1,3,3,4,5,9]
numbers1 = tuple(numbers)
print(type(numbers1))
numbers2 = list(numbers1)
print(type(numbers2))

<class 'tuple'>
<class 'list'>

In [23]:
#deleting elements to a list
fruits = ['apple','pear','banana']
#method 1
fruits1 = fruits.copy()
fruits1.remove('banana')
print('Method 1:',fruits1)
#Method 2
fruits2 = fruits.copy()
del fruits2[2]
print('Method 2:',fruits2)

Method 1: ['apple', 'pear']
Method 2: ['apple', 'pear']

In [ ]:
#adding elements